{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "sourceType": "module"
  },
  "ignorePatterns": ["coverage/*"],
  "extends": ["plugin:storybook/recommended"]
}
