@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-Light.eot');
    src: local('Aeroport Light'), local('Aeroport-Light'),
        url('Aeroport-Light.eot?#iefix') format('embedded-opentype'),
        url('Aeroport-Light.woff2') format('woff2'),
        url('Aeroport-Light.woff') format('woff'),
        url('Aeroport-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport Mono';
    src: url('AeroportMono.eot');
    src: local('Aeroport Mono'), local('AeroportMono'),
        url('AeroportMono.eot?#iefix') format('embedded-opentype'),
        url('AeroportMono.woff2') format('woff2'),
        url('AeroportMono.woff') format('woff'),
        url('AeroportMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-Bold.eot');
    src: local('Aeroport Bold'), local('Aeroport-Bold'),
        url('Aeroport-Bold.eot?#iefix') format('embedded-opentype'),
        url('Aeroport-Bold.woff2') format('woff2'),
        url('Aeroport-Bold.woff') format('woff'),
        url('Aeroport-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-LightItalic.eot');
    src: local('Aeroport Light Italic'), local('Aeroport-LightItalic'),
        url('Aeroport-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Aeroport-LightItalic.woff2') format('woff2'),
        url('Aeroport-LightItalic.woff') format('woff'),
        url('Aeroport-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-BoldItalic.eot');
    src: local('Aeroport Bold Italic'), local('Aeroport-BoldItalic'),
        url('Aeroport-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Aeroport-BoldItalic.woff2') format('woff2'),
        url('Aeroport-BoldItalic.woff') format('woff'),
        url('Aeroport-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-MediumItalic.eot');
    src: local('Aeroport Medium Italic'), local('Aeroport-MediumItalic'),
        url('Aeroport-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Aeroport-MediumItalic.woff2') format('woff2'),
        url('Aeroport-MediumItalic.woff') format('woff'),
        url('Aeroport-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport.eot');
    src: local('Aeroport'),
        url('Aeroport.eot?#iefix') format('embedded-opentype'),
        url('Aeroport.woff2') format('woff2'),
        url('Aeroport.woff') format('woff'),
        url('Aeroport.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-Italic.eot');
    src: local('Aeroport Italic'), local('Aeroport-Italic'),
        url('Aeroport-Italic.eot?#iefix') format('embedded-opentype'),
        url('Aeroport-Italic.woff2') format('woff2'),
        url('Aeroport-Italic.woff') format('woff'),
        url('Aeroport-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aeroport';
    src: url('Aeroport-Medium.eot');
    src: local('Aeroport Medium'), local('Aeroport-Medium'),
        url('Aeroport-Medium.eot?#iefix') format('embedded-opentype'),
        url('Aeroport-Medium.woff2') format('woff2'),
        url('Aeroport-Medium.woff') format('woff'),
        url('Aeroport-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* roboto-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-mono-v22-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-mono-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-mono-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-mono-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-mono-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-mono-v22-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
  }
  /* roboto-mono-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-mono-v22-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-mono-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-mono-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-mono-v22-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-mono-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-mono-v22-latin-700.svg#RobotoMono') format('svg'); /* Legacy iOS */
  }
